footer {

    background: $cor-secundaria;
    padding: 25px 0;
    color: $branco;
    
    h4 {
        color: $cor-primaria;
        font-size: 19px;
    }

    a {
        color: $branco;

        &:hover {
            color: $branco;
        }
    }

    ul {
        li.ellipsis {

            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

}